.head
{
   background-color: #21293d;
      font-family: Georgia, serif;
  
}

.carousel-inner {

  height:80%;
    
}
#home-section
{
    background-color: azure;
}
.blue {
    background: #347fd0;
}

.news {
    box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
      
    margin: 20px auto;
    overflow: hidden;
    border-radius: 4px;
    padding: 1px;
    -webkit-user-select: none;
}

.news span {
    float: left;
    color: #fff;
    padding: 9px;
    position: relative;
    top: 1%;
    box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4);
    font: 14px 'Raleway', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    cursor: pointer;
}

.text1{

	box-shadow:none !important;
    width: 750px;
}

.welcome
{
        color: #000;
    font-family: "sans-serif", Georgia, serif;
    font-weight: 600;
    margin: 0 0 20px 0;
    line-height: 1.5;
}

.card-title
{
      font-family: "sans-serif", Georgia, serif;
}
.card-header
{
     color: #000;
    font-family: "sans-serif", Georgia, serif;
    font-weight: 450;
}

#contact-section
{
    margin: auto;
    background: url(images/formpic.jpg)
            
}
#festcard
{
    background: url(images/fest.jpg)
}
.evnt
{
    font-family: "sans-serif", Georgia, serif;
   color: snow;
}
#sub
{
    width: 100%;
}
#event
{
    margin: auto;
    background: url(images/event.jpg)
            
}
.tab
{
        background: #ccc;
    font-weight: bold;
    
}
.unimaq
{
    color:blue;
    font-family: "sans-serif", Georgia, serif;
    font-weight: 500;
    margin: 0 0 20px 0;
    line-height: 1.5;
}
#unimaq-section
{
     margin: auto;
    background: url(images/fest.jpg);
}